<!DOCTYPE html>
<html lang="en">
    <head th:replace="snippet.html :: name_head"></head>
<body>
    <nav th:replace="snippet.html :: name_app_navbar"></nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/ui/home}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
      </nav>
    &nbsp;
    <div class="container">
    <div class="row">
        <span>&nbsp;&nbsp;&nbsp;</span>
        <h3>Admin</h3>
    </div>
        &nbsp;
        <form id="userForm">
            <div class="form-row row">
                <div class="col-5">
                    <input type="text" class="form-control" name="email" placeholder="email" id="emailInput">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" name="password" placeholder="Password" id="passwordInput">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2 float-right" id="addUser">&nbsp; Add &nbsp;</button>
                </div>
                <!-- Comment off the following code to have update button -->
                <!-- <div class="col-1">
                  <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#updateModal">
                    Update
                  </button>
              </div> -->
            </div>
        </form>
    
    &nbsp;
    <table class="table" id="userTable">
        <caption>List of Users
            
        </caption>
        <thead class="table-dark">
            <tr>
                <th scope="col" name="id">Serial No.</th>
                <th scope="col" name="email">Email</th>
                <th scope="col" name="activity">Activity Status</th>
                <th scope="col" class="d-flex justify-content-end" name="action">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td class="d-flex justify-content-end"> <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#updatePasswordModal" id="updatePasswordButton" >Update Password</button></td>
            </tr>
        </tbody>
      </table>

      &nbsp;

        <!--Update Password -->
        <div class="modal fade" id="updatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePasswordModalLabel">Update Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            &nbsp;
            <div class="modal-body">
                <form id="passwordUpdateForm">
                <div class="form-row">
                    <div>
                    <h5>&nbsp;Enter new Password</h5>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="password" class="form-control " name="password" placeholder="Password" id="newPasswordInput">
                    </div>
                </div>
                &nbsp;
                <div class="form-row">
                    <div>
                    <h5>&nbsp;Confirm new Password</h5>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <input type="password" class="form-control" name="passwordConfirm" placeholder="Password" id="newPasswordConfirmInput">
                    </div>
                </div>
                &nbsp;
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="updatePassword">Update</button>
            </div>
            </div>
        </div>
    </div>
    </div>
    <!-- <footer th:replace="snippet.html :: name_footer"></footer> -->
    <footer>
    <div style="text-align: center; font-size: large; background-color: #c6ddfc;padding: 10px;position: fixed;bottom: 0;width: 100%;">Copyright Increff 2022<br></div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/papaparse.min.js"></script>
    <script src="../static/app.js"></script>
    <script src="../static/admin.js"></script>
</body>
</html>