<!DOCTYPE html>
<html lang="en">
  <head th:replace="snippet.html :: name_head"></head>
<body>
    <nav th:replace="snippet.html :: name_app_navbar"></nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/ui/home}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Brand</li>
        </ol>
      </nav>
    &nbsp;
    <div class="container">
        <div class="row">
        <h3 class="col-7">Brand</h3>
        <div class="col-5 float-right">
          <button type="button" class="btn bg-transparent btn-sm" ><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" id="uploadBrandButton" >Upload Brand List</button>
          <button type="button" class="btn bg-transparent btn-sm" ><span>&nbsp;</span></button>
          <button type="button" class="btn btn-primary" id="downloadButton" >Download Brand List</button>
        </div>
        </div>
        &nbsp;
        <form id="brandForm">
            <div class="form-row">
                <div class="col-5">
                    <input type="text" class="form-control" name="brand" placeholder="Brand" id="brandInput">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" name="category" placeholder="Category" id="categoryInput">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary mb-2 float-right" id="addBrand">&nbsp; Add &nbsp;</button>
                </div>
                <!-- Comment off the following code to have update button -->
                <!-- <div class="col-1">
                  <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#updateModal">
                    Update
                  </button>
              </div> -->
            </div>
        </form>
    &nbsp;
        
        <table class="table" id="brandTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col" name="id">S/N</th>
                    <th scope="col" name="brand">Brand</th>
                    <th scope="col" name="category">Category</th>
                    <th scope="col" class="d-flex justify-content-end" name="action">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="d-flex justify-content-end"> Edit | Delete </td>
                </tr>
            </tbody>
          </table>

          &nbsp;

      <!--Update Brand -->
      <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateModalLabel">Update Brand</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            &nbsp;
            <div class="modal-body">
              <form id="brandUpdateForm">
                <div class="form-row">
                  <div>
                    <h5>&nbsp;Current Brand and Category</h5>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-5">
                      <input type="text" class="form-control" name="exBrand" placeholder="exBrand" id="exBrandInput">
                  </div>
                  <div class="col-5">
                      <input type="text" class="form-control" name="exCategory" placeholder="exCategory" id="exCategoryInput">
                  </div>
                </div>
                &nbsp;
                <div class="form-row">
                  <div>
                    <h5>&nbsp;Updated Brand and Category</h5>
                  </div>
                </div>
                <div class="form-row">
                    <div class="col-5">
                        <input type="text" class="form-control" name="brand" placeholder="Brand" id="brandInput">
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control" name="category" placeholder="Category" id="categoryInput">
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="updateBrand">Update</button>
            </div>
          </div>
        </div>
      </div>

      <!--Upload Brand -->
      <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="uploadModalLabel">Upload Brand List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            &nbsp;
            <div class="modal-body">
              <div class="brand-file">
                <input type="file" class="custom-file-input" id="brandFile">
                <label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
              </div>
                <a href="../static/brand.tsv" target="_blank">Download Sample</a> 
                <br>
                Rows: <span id="rowCount">0</span>, 
                Processed: <span id="processCount">0</span>, 
                Errors: <span id="errorCount">0</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="processBrand">Upload</button>
              <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="snippet.html :: name_footer"></footer>
    <script src="../static/brand.js"></script>
</body>
</html>