<!DOCTYPE html>
<html lang="en">
  <head th:replace="snippet.html :: name_head"></head>
<body>
    <nav th:replace="snippet.html :: name_app_navbar"></nav>

    &nbsp;
    <div class="container">
        <h3>Home</h3>

        <div class="row">
            <div class="col-4">
                <a th:href="@{/ui/brand}" title="Brand"><i class="fas fa-cog fa-5x"></i></a>
            </div>

            <div class="col-4">
                <a th:href="@{/ui/product}" title="Product"><i class="fas fa-cog fa-5x"></i></a>
            </div>

            <div class="col-4">
                <a th:href="@{/ui/inventory}" title="Inventory"><i class="fas fa-cog fa-5x"></i></a>
            </div>

            <div class="col-4">
              <a th:href="@{/ui/order}" title="Order"><i class="fas fa-cog fa-5x"></i></a>
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>