<!DOCTYPE html>
<html lang="en">
  <head th:replace="snippet.html :: name_head"></head>
<body>
    <nav th:replace="snippet.html :: name_app_navbar"></nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/ui/home}">Home</a></li>
        </ol>
      </nav>
    &nbsp;
    <div class="container">
        <table class="table table-borderless">
            <tr>
                <td>
                    <a th:href="@{/ui/admin}" title="Admin" class="link-secondary"><img th:src="@{/static/AdminIcon.png}"><br>&nbsp;&nbsp;&nbsp;&nbsp;Admin</a>
                </td>
                
                <td>
                <a th:href="@{/ui/brand}" title="Brand" class="link-secondary"><img th:src="@{/static/BrandIcon.png}"><br>&nbsp;&nbsp;&nbsp;&nbsp;Brand</a>
                </td>

                <td>
                <a th:href="@{/ui/product}" title="Product" class="link-secondary"><img th:src="@{/static/ProductIcon.png}"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product</a>
                </td>

                <td>
                <a th:href="@{/ui/inventory}" title="Inventory" class="link-secondary"><img th:src="@{/static/InventoryIcon.jpg}"><br>&nbsp;&nbsp;&nbsp;&nbsp;Inventory</a>
                </td>

                <td>
                <a th:href="@{/ui/order}" title="Order" class="link-secondary"><img th:src="@{/static/OrderIcon.png}"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order</a>
                </td>
            </tr>
        </table>
    </div>

    <footer th:replace="snippet.html :: name_footer"></footer>
</body>
</html>