<!DOCTYPE html>
<html lang="en">
  <head th:replace="snippet.html :: name_head"></head>
<body>
    <nav th:replace="snippet.html :: name_app_navbar"></nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/ui/home}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Order</li>
        </ol>
      </nav>
    &nbsp;
    <div class="container">
        <form id="addOrder">
        <div class="row">
          <h4 class="col">Order</h4>

          <button type="button" class="btn btn-primary mb-2 col-3 float-right col-2" data-toggle="modal" data-target="#saleReportModal">
            Sales Report
          </button>
          <button type="button" class="btn bg-transparent btn-sm" ><span>&nbsp;</span></button>
          <button type="button" class="btn btn-primary mb-2 col-3 float-right col-2" data-toggle="modal" data-target="#createOrderModal" id="resetOrderItemTable">
            Create Order
          </button>
        </div>
        &nbsp;
        </form>

        <table class="table table-bordered" id="orderTableMain">
          <thead >
          </thead>
          <tbody id="orderTableMainBody">
            <tr>
              <td colspan="4">
                <table class="table" id="orderTable">
                  <thead class="table-dark">
                      <tr>
                          <th scope="col" name="id">Serial No.</th>
                          <th scope="col" name="barcode">Barcode</th>
                          <th scope="col" name="quantity">Quantity</th>
                          <th scope="col" name="mrp">Mrp</th>
                          <th scope="col" class="d-flex justify-content-end" name="action">Download</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>30.00</td>
                          <td></td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>30.00</td>
                        <td></td>
                    </tr>
                  </tbody>
                </table>
      
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <div class="row">
                  &nbsp;
                  <div class="col">Order ID :</div>
                  <button type="button" class="btn btn-secondary float-right btn-sm mb-2" name="action" onclick="downloadInvoice(orderID)">Download</button>
                  &nbsp;
                </div>
                <table class="table" id="orderTable">
                  <thead class="table-dark">
                      <tr>
                          <th scope="col" name="id">#</th>
                          <th scope="col" name="barcode">Barcode</th>
                          <th scope="col" name="quantity">Quantity</th>
                          <th scope="col" name="mrp">Mrp</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>30.00</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>30.00</td>
                    </tr>
                  </tbody>
                </table>
      
              </td>
            </tr>
          </tbody>
        </table>


        <div class="modal fade" id="saleReportModal" tabindex="-1" role="dialog" aria-labelledby="saleReportModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="saleReportModalLabel">Sale Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              &nbsp;
              <div class="modal-body">
                <form id="saleReportForm">
                  <div class="form-row">
                    <div>
                      <h5>&nbsp;Start Date Time</h5>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <input type="datetime-local" class="form-control" id="startDateTime" name="startDateTime" value="2022-01-12T19:30" min="2018-06-07T00:00" max="2022-06-14T00:00">
                    </div>
                  </div>
                  &nbsp;
                  <div class="form-row">
                    <div>
                      <h5>&nbsp;End Date Time</h5>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="col">
                        <input type="datetime-local" class="form-control" id="endDateTime" name="endDateTime" value="2022-01-12T19:30" min="2018-06-07T00:00" max="2022-06-14T00:00">
                      </div>
                  </div>
                  &nbsp;
                  <div class="form-row">
                    <div>
                      <h5>&nbsp;Brand</h5>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="col">
                          <input type="text" class="form-control" name="brand" placeholder="Brand" id="brandSaleReportInput">
                      </div>
                  </div>
                  &nbsp;
                  <div class="form-row">
                    <div>
                      <h5>&nbsp;Category</h5>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="col">
                        <input type="text" class="form-control" name="category" placeholder="Category" id="categorySaleReportInput">
                      </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="saleReportDownload" onclick="downloadSaleReport()">Download Report</button>
              </div>
            </div>
          </div>
        </div>

          <!--Create Object -->
        <div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="createOrderModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createOrderModalLabel">Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              &nbsp;
              <div class="modal-body">
                <form id="orderItemForm">
                  <div class="form-row">
                      <div class="col-5">
                          <input type="text" class="form-control" name="barcode" placeholder="Barcode" id="barcodeInput">
                      </div>
                      <div class="col-5">
                          <input type="text" class="form-control" name="quantity" onkeypress="return isIntegerKey(event)" placeholder="Quantity" id="quantityInput">
                      </div>
                      <div class="col-2">
                          <button type="submit" class="btn btn-primary mb-2" id="addOrderItem">Add</button>
                      </div>
                  </div>
                </form>
                &nbsp;
                <table class="table" id="orderItemTableAdd">
                  <thead class="table-dark">
                      <tr>
                          <th scope="col" name="id">S/N</th>
                          <th scope="col" name="barcode">Barcode</th>
                          <th scope="col" name="quantity">Quantity</th>
                          <th scope="col" name="mrp">Mrp</th>
                          <th scope="col" name="action">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>30.00</td>
                        <td>Edit | Delete</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>30.00</td>
                        <td><button type="button" class="btn btn-secondary mb-2 btn-sm" onclick="editOrderItemDisplay(10)">Edit</button> | <button type="button" class="btn btn-secondary mb-2 btn-sm" onclick="deleteOrderItemDisplay(10)">Delete</button></td>
                    </tr>
                  </tbody>
                </table>
                <!-- Comment Off the following code to add accordian and bulk upload option -->
                <!-- &nbsp;
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Update Order Item</a></h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <form id="orderItemUpdateForm">
                          <div class="form-row">
                            <div>
                              <h5>&nbsp;Enter the barcode and updated quantity</h5>
                            </div>
                          </div>
                          &nbsp;
                          <div class="form-row">
                              <div class="col-5">
                                  <input type="text" class="form-control" name="barcode" placeholder="Barcode" id="barcodeUpdateInput">
                              </div>
                              <div class="col-5">
                                  <input type="text" class="form-control" name="quantity" placeholder="Quantity" id="quantityUpdateInput">
                              </div>
                              <div class="col-2">
                                <button type="submit" class="btn btn-primary mb-2" id="updateOrderItemModal">Update</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
      
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" id="uploadOrderButton">Upload Order Items</a></h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="orderFile">
                          <label class="custom-file-label" for="customFile" id="orderFileName">Choose file</label>
                        </div>
                          <a href="../static/order.tsv" target="_blank">Download Sample</a> 
                          <br>
                          Rows: <span id="rowCount">0</span>, 
                          Processed: <span id="processCount">0</span>, 
                          Errors: <span id="errorCount">0</span>
                          &nbsp;
                        <div class="row">
                          <div class="col-1"></div>
                          <button type="button" class="btn btn-primary col-4" id="processOrder">Upload</button>
                          <div class="col-1"></div>
                          <div class="col-1"></div>
                          <button type="button" class="btn btn-warning col-4" id="download-errors">Download Errors</button>
                          <div class="col-1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="createOrder">Create Order</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    
    
    <footer th:replace="snippet.html :: name_footer"></footer>
    <script src="../static/order.js"></script>
</body>
</html>