<!DOCTYPE html>
<html lang="en">
    <head th:replace="snippet.html :: name_head"></head>
<body>
    <nav th:replace="snippet.html :: name_app_navbar"></nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/ui/home}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
      </nav>
    &nbsp;
    <div class="container">
        <div class="row">
            <h3 class="col-7">Product</h3>
            <div class="col-5 float-right">
                <button type="button" class="btn bg-transparent btn-sm" ><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" id="uploadProductButton" >Upload Product List</button>
                <button type="button" class="btn bg-transparent btn-sm" ><span>&nbsp;</span></button>
                <button type="button" class="btn btn-primary" id="downloadButton" >Download Product List</button>
            </div>
        </div>
        &nbsp;
        <form id="productForm">
            <div class="form-row">
                <div class="col-2">
                    <input type="text" class="form-control" name="barcode" placeholder="Barcode" id="barcodeInput">
                </div>
                <div class="col-3" id="brandOptions">
                    <select  class="form-control" name="brand" onchange="getCategoryOptions(this.value)" id="brandInput">
                    <option selected>Choose Brand...</option>
                    </select>
                </div>
                <div class="col-3" id="categoryOptions">
                    <select  class="form-control" name="category" id="categoryInput" disabled>
                    <option selected>Choose Category...</option>
                    </select>
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" name="name" placeholder="Name" id="nameInput">
                </div>
                <div class="col-1">
                    <input type="text" class="form-control" name="mrp" onkeypress="return isDecimalKey(this,event)" placeholder="Mrp" id="mrpInput">
                </div>                
                <div class="col-1">
                    <button type="submit" class="btn btn-primary mb-2" id="addProduct">&nbsp; Add &nbsp;</button>
                </div>
                <!-- Comment off the following code to have update functionality -->
                <!-- <div class="col-1">
                    <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#updateModal">
                      Update
                    </button>
                </div> -->
            </div>
        </form>
    &nbsp;
        <table class="table" id="productTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mrp</th>
                    <th scope="col" class="d-flex justify-content-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1@23$1</td>
                    <td>nestle</td>
                    <td>tea</td>
                    <td>Nestle 500 gm</td>
                    <td>590.00</td>
                    <td class="d-flex justify-content-end"> Edit | Delete </td>
                </tr>
            </tbody>
          </table>

          &nbsp;
          <!--Update Brand -->
            <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    &nbsp;
                    <div class="modal-body">
                    <form id="productUpdateForm">
                        <div class="form-row">
                        <div>
                            <h5>&nbsp;Current Barcode</h5>
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="barcodeUpdateInput">Barcode</label>
                                <input type="text" class="form-control" name="barcode" placeholder="Barcode" id="barcodeUpdateInput">
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-row">
                        <div>
                            <h5>&nbsp;Updated Product</h5>
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="col-6" id="brandUpdateOptions">
                                <label for="brandUpdateInput">Brand</label>
                                <select  class="form-control" name="brand" onchange="getCategoryUpdateOptions(this.value)" id="brandUpdateInput">
                                    <option selected>Choose Brand...</option>
                                </select>
                            </div>
                            <div class="col-6" id="categoryUpdateOptions">
                                <label for="categoryUpdateInput">Category</label>
                                <select  class="form-control" name="category" id="categoryUpdateInput" disabled>
                                    <option selected>Choose Category...</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-row">
                            <div class="col-6">
                                <label for="nameUpdateInput">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Name" id="nameUpdateInput">
                            </div>
                            <div class="col-6">
                                <label for="mrpUpdateInput">MRP</label>
                                <input type="text" class="form-control" name="mrp" onkeypress="return isDecimalKey(this,event)" placeholder="Mrp" id="mrpUpdateInput">
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="updateProduct">Update</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <!--Upload Product -->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload Product List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                &nbsp;
                <div class="modal-body">
                <div class="product-file">
                    <input type="file" class="custom-file-input" id="productFile">
                    <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
                </div>
                    <a href="../static/product.tsv" target="_blank">Download Sample</a> 
                    <br>
                    Rows: <span id="rowCount">0</span>, 
                    Processed: <span id="processCount">0</span>, 
                    Errors: <span id="errorCount">0</span>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="processProduct" >Upload</button>
                <button type="button" class="btn btn-warning" id="download-errors" >Download Errors</button>
                </div>
            </div>
            </div>
        </div>
        </div>
    
    <footer th:replace="snippet.html :: name_footer"></footer>
    <script src="../static/product.js"></script>
</body>
</html>