<head th:fragment="name_head">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="baseUrl" th:attr="content=${baseUrl}">

<script src="https://kit.fontawesome.com/c30beb553f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e0effa;" th:fragment="name_app_navbar">
    <a class="navbar-brand" th:href="@{/ui/home}"><img th:src="@{/static/logo.jpg}" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ui/home}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ui/brand}">Brand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/ui/product}">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/inventory}">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/order}">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/admin}">Admin</a>
          </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto d-flex justiy-content-end">
      <li class="navbar-text">
	    </li>
      <li class="navbar-item"><a th:href="@{/site/logout}"><button class="btn btn-outline-primary ms-3">Logout</button></a></li>
    </ul>
</nav>

<footer class="footer  mt-1" th:fragment="name_footer">
	<div style="text-align: center; font-size: large; background-color: #c6ddfc;padding: 10px;position: fixed;bottom: 0;width: 100%;">Copyright Increff 2022<br></div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../static/jquery-ajax-native.js"></script>
	<script th:src="@{/static/papaparse.min.js}"/></script>
  <script th:src="@{/static/app.js}"/></script>
	
	
</footer>